<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290052689119-frj60k1tgb0n9op0fijqno731epugobu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290052689119-frj60k1tgb0n9op0fijqno731epugobu</string>
	<key>API_KEY</key>
	<string>AIzaSyAGohofYhJ3lNOGX9hLWsgptaW7f6UUUp8</string>
	<key>GCM_SENDER_ID</key>
	<string>290052689119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.NBA-Score</string>
	<key>PROJECT_ID</key>
	<string>nba-app-66dd2</string>
	<key>STORAGE_BUCKET</key>
	<string>nba-app-66dd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290052689119:ios:2a40cb2a318e37a2</string>
	<key>DATABASE_URL</key>
	<string>https://nba-app-66dd2.firebaseio.com</string>
</dict>
</plist>